body, html {
    background-color: black;
    background-image: url("../images/mountdoom.jpg"); 
    color: white;
  }

  img {
      padding: 20px;
      width: 85%;
  }

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
}