body, html {
    background-color: black;
    background-image: url("../images/mountdoom.jpg"); 
    color: white;
    font-family: 'VT323', monospace;
    letter-spacing: 2px;
    font-size: 20px;
    margin-left: 10px;
  }

h2 {
    font-size: 50px;
}



  /* Character Cards */
  img {
      padding: 15px;
      width: 225px;
      border-radius: 15px;
  }

  #gollum, #samwise, #gandalf, #thering {
    width: 310px; 
    height: 310px; 
    display: inline-block;
    margin-left: 10px;
    border-radius: 10px
}

.card-body {
    padding: 15px;
    margin-bottom: 20px;
}

.float {
    float: left;
}

#championHP, #enemyHP {
    margin-top: -45px;
}

.btn-danger {
    margin-left: 130px;
}


/* Game Title */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    font-family: 'Metal Mania', cursive;
    letter-spacing: 2px;
    font-size: 75px;
}


